<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../slys/components/components.css">
  <link rel="stylesheet" href="../../slys/slys/slys.css">
 <title>Home</title>
</head>
<body class="bg-base-3">

<!------------------------------------------------------------------------>
<!------------------------------------------------------------------------> 
   <section>
     <div>
        <div id="slys"></div>
     </div>
   </section>
<!------------------------------------------------------------------------>
<!------------------------------------------------------------------------> 
<!------------------------------------------------------------------------> 
   <script src="../main/main.js"></script>
<!------------------------------------------------------------------------>
   <script type="module" src="../../farebase/farebase.js"></script>
<!------------------------------------------------------------------------> 
   <script src="../../function/function.js"></script>
<!------------------------------------------------------------------------>
   <script src="../message/message.js"></script>
<!------------------------------------------------------------------------>
<!------------------------------------------------------------------------>
<!------------------------------------------------------------------------> 
    
<!------------------------------------------------------------------------>
<!------------------------------------------------------------------------>
<!------------------------------------------------------------------------>
   <script src="../pages/home/display/display.js"></script>
<!------------------------------------------------------------------------> 
   <script src="../pages/home/add-min-button/add-min-button.js"></script>
<!------------------------------------------------------------------------> 
   <script src="../pages/home/add-min-form/add-min-form.js"></script>
<!------------------------------------------------------------------------>
   <script src="../pages/home/history/history.js"></script>
<!------------------------------------------------------------------------>
<!------------------------------------------------------------------------>
<!------------------------------------------------------------------------>

    
</body>
</html>