<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../slys/components/components.css">
  <link rel="stylesheet" href="../../slys/slys/slys.css">
 <title>Home</title>
</head>
<body class="bg-gray-3">

<!------------------------------------------------------------------------>
<!------------------------------------------------------------------------> 
   <section>
     <div>
        <div id="slys"></div>
     </div>
   </section>
<!------------------------------------------------------------------------>
<!------------------------------------------------------------------------> 
<!------------------------------------------------------------------------> 
   <script src="../main/main.js"></script>
<!------------------------------------------------------------------------>
   <script type="module" src="../../farebase/auth-farebase.js"></script>
<!------------------------------------------------------------------------> 
   <script src="../../function/function.js"></script>
<!------------------------------------------------------------------------>
   <script src="../message/message.js"></script>
<!------------------------------------------------------------------------>
<!------------------------------------------------------------------------>
<!------------------------------------------------------------------------> 
    
<!------------------------------------------------------------------------>
<!------------------------------------------------------------------------>
<!------------------------------------------------------------------------> 
    <script src="../pages/signin-form/signin-form.js"></script>
<!------------------------------------------------------------------------> 
<!------------------------------------------------------------------------>
<!------------------------------------------------------------------------>
<!------------------------------------------------------------------------>

    
</body>
</html>